{% extends 'webLib/main.html' %}




{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">title</th>
                <th scope="col">description</th>
                <th scope="col">page_num</th>
                <th scope="col">piblished</th>
                <th scope="col">author</th>
                </tr>
            </thead>
            <tbody>                
                {% if books %}
                    {% for book in books %}
                        <tr>
                            <th scope="row">
                                <a href="">{{book.title}}</a>
                            </th>                            
                            <td>{{book.description}}</td>
                            <td>{{book.page_num}}</td>
                            <td>{{book.piblished}}</td>
                            <td>{{book.author}}</td>
                        </tr>                        
                    {% endfor %}
                {% else %}
                    <p>No authors active</p>
                {% endif %}                         
            </tbody>
        </table>

        <!-- <h1>Books</h1>
        {% if books %}
            {% for book in books %}
            <p>Название книги: {{book.title}}</p>
            <p>Описание: {{book.description}}</p>
            <p>Публикация: {{book.piblished|date:'DATETIME_FORMAT'}}</p>
            <hr>
            {% endfor %}
        {% else %}
            <p>No authors active</p>
        {% endif %} -->
    </div>
{% endblock %}