{% extends 'webLib/main.html' %}




{% block content %}
    <div class="card card-block">
        <h1>Книги</h1>        
            
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Название</th>
                <th scope="col">Краткое описание</th>
                <th scope="col">Время публикации</th>
                <th scope="col">Автор</th>
                </tr>
            </thead>
            <tbody>                
                {% if books %}
                    {% for book in books %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'book_title' book.pk %}">{{book.title}}</a>
                            </th>                            
                            <td>{{book.description}}</td>
                            <td>{{book.piblished}}</td>
                            <td>{{book.author}}</td>
                            <td><a class="btn btn-sm btn btn-info" href="{% url 'update_book' book.pk %}">Редактировать</a></td>
                            <td><a class="btn btn-sm btn btn-danger" href="{% url 'delete_book' book.pk %}">Удаить запись</a></td>
                        </tr>                        
                    {% endfor %}
                {% else %}
                    <p>Книжек не осталось</p>
                {% endif %}   
                                      
            </tbody>
        </table>
        <hr>   
        <a class="btn btn-primary btn btn-block" href="create_book">Опубликовать книгу</a>         
        
    </div>
{% endblock %}