<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB LIB</title>
</head>
<body>
    <h1>Welcome to WebLib</h1>
    <p>
        Начнём с самого слова. В английской версии 
        феи называются Seelie («счастье», «удача», «благословление») – 
        что-то вроде вида фей в шотландской мифологии. В оной 
        описываются как в целом добрые существа, помогающие людям, 
        но иногда проказливые и мстящие за оскорбления. 
        У них есть своего рода противоположность. 
        Unseelie – злые феи нападающие на путешественников ночью и 
        заставляющие делать дурные вещи. Некоторые считают, что сили и 
        ансили могли лечь в основу более поздних скандинавских легенд о 
        тёмных и светлых эльфах.
    </p>
    
    {% block content %}

    {% endblock %}

</body>
</html>